.rolling {
  -webkit-animation: rolling-text 8.5s infinite 1s;
  animation: rolling-text 8.5s infinite 1s;
  will-change: transform;
}

.client-overlay {
  @apply absolute inset-0 z-0;
  background-image: linear-gradient(
    90deg,
    #fff,
    hsla(0, 0%, 100%, 0) 20%,
    hsla(0, 0%, 100%, 0) 80%,
    #fff
  );
}

.marquee-track {
  @apply flex shrink-0 grow-0 basis-auto items-center py-0.5 gap-3 grayscale;
  -webkit-animation: marquee-horizonal 15s linear infinite;
  animation: marquee-horizonal 15s linear infinite;
  will-change: transform;
}

.client-marquee {
  will-change: opacity;
  -webkit-animation: marquee-fade-out linear both;
  animation: marquee-fade-out linear both;
  animation-timeline: view(block);
  animation-range: contain 0% exit 100%;
}

.hero {
  transform: translateY(0px);
  opacity: 1;
  scale: 1;
  transition: opacity, transform;
  will-change: transform, opacity;
  -webkit-animation: hero-fade-out linear both;
  animation: hero-fade-out linear both;
  animation-timeline: view(block);
  animation-range: contain 0% exit 100%;
}

@keyframes rolling-text {
  0% {
    transform: translateY(0rem);
  }
  15% {
    transform: translateY(-2.25rem);
  }
  30% {
    transform: translateY(-4.5rem);
  }
  45% {
    transform: translateY(-6.75rem);
  }
  60% {
    transform: translateY(-9rem);
  }
  75% {
    transform: translateY(-11.25rem);
  }
  100% {
    transform: translateY(-13.5rem);
  }
}

@keyframes marquee-horizonal {
  0% {
    transform: translateX(0) translateZ(0);
  }
  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

@keyframes marquee-fade-out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-fade-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
  30% {
    opacity: 1;
  }
  75% {
    scale: 0.9;
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    scale: 0.8;
  }
}
