@keyframes rolling-text {
  0% {
    transform: translateY(0rem);
  }
  15% {
    transform: translateY(-2.25rem);
  }
  30% {
    transform: translateY(-4.5rem);
  }
  45% {
    transform: translateY(-6.75rem);
  }
  60% {
    transform: translateY(-9rem);
  }
  75% {
    transform: translateY(-11.25rem);
  }
  100% {
    transform: translateY(-13.5rem);
  }
}

.rolling {
  -webkit-animation: rolling-text 8.5s infinite 1s;
  animation: rolling-text 8.5s infinite 1s;
  will-change: transform;
}

.client-overlay {
  @apply absolute inset-0 z-[1];
  background-image: linear-gradient(
    90deg,
    #fff,
    hsla(0, 0%, 100%, 0) 20%,
    hsla(0, 0%, 100%, 0) 80%,
    #fff
  );
}

@keyframes marquee-horizonal {
  0% {
    transform: translateX(0) translateZ(0);
  }
  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

.marquee-track {
  @apply flex shrink-0 grow-0 basis-auto items-center py-0.5 gap-3 grayscale;
  -webkit-animation: marquee-horizonal 15s linear infinite;
  animation: marquee-horizonal 15s linear infinite;
  will-change: transform;
}

.client-marquee {
  will-change: opacity;
  -webkit-animation: marquee-fade-out 1s linear;
  animation: marquee-fade-out 1s linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll-hero) * -1s);
  animation-delay: calc(var(--scroll-hero) * -1s);
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
}

.hero {
  @apply transition-all duration-500 opacity-100;
  will-change: transform opacity;
  -webkit-animation: hero-fade-out 1s linear;
  -webkit-animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll-hero) * -1s);
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation: hero-fade-out 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll-hero) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes marquee-fade-out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-fade-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
    scale: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(-125px);
    scale: 0.9;
  }
  65% {
    scale: 0.9;
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    scale: 0.85;
  }
}
