.root {
  view-timeline-name: --section-about-tl;
  view-timeline-axis: block;
}

.about-wrapper {
  transition: transform, opacity;
  will-change: transform, opacity;
  -webkit-animation: about-wrapper 1s linear;
  animation: about-wrapper 1s linear;
  animation-timeline: --section-about-tl;
  animation-range: contain 0% exit 100%;
}

.about-bg {
  transition: transform, opacity;
  will-change: transform, opacity;
  -webkit-animation: about-bg 1s linear;
  animation: about-bg 1s linear;
  animation-timeline: --section-about-tl;
}

.about-heading {
  transition: transform, opacity;
  will-change: transform, opacity;
  -webkit-animation: about-heading 1s linear;
  animation: about-heading 1s linear;
  animation-timeline: --section-about-tl;
}

.about-container {
  transition: transform, opacity;
  will-change: transform, opacity;
  -webkit-animation: about-container 1s linear;
  animation: about-container 1s linear;
  animation-timeline: --section-about-tl;
  transform: scale(0.7);
}

@keyframes about-bg {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes about-wrapper {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}

@screen md {
  @keyframes about-wrapper {
    0% {
      transform: scale(1);
    }
    60% {
      transform: scale(1);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.2);
    }
  }
}

@keyframes about-heading {
  0% {
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0.4);
    opacity: 0;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes about-container {
  0% {
    opacity: 0.5;
    left: 100%;
  }
  20% {
    left: 100%;
  }
  30% {
    left: 0%;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    left: 0%;
    transform: scale(1);
    overflow: auto;
  }
}
