.work-track::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.work-track::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.work-track::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

/* Handle on hover */
.work-track::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@screen md {
  .work-track {
    will-change: transform, opacity;
    animation: scroll-work-track linear both;
    -webkit-animation: scroll-work-track linear both;
    animation-timeline: view(block);
    animation-range: contain 0% cover 100%;
  }

  @keyframes scroll-work-track {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(-60%);
    }
  }
}
